<h1>SpaceX List</h1>
<hr>
<table id="spacexes">
  <div *ngFor="let list of lists" [routerLink]="['/', list.id]">

    <mat-card-header>
      <img
        height="50"
        width="50"
        mat-card-avatar
        loading="lazy"
        [src]="list.links.mission_patch_small"
        alt="Mission patch of {{ list.mission_name }}"
      />
      <mat-card-title>{{ list.mission_name }} <br /></mat-card-title>
      <mat-card-subtitle
        >{{ list.launch_year }} <br />
       </mat-card-subtitle
      >
      <mat-card-subtitle
        >{{ list.details }} <br />
       </mat-card-subtitle
      >
      <mat-card-subtitle
        ><a>{{ list.links.mission_patch_small }}</a><br /><br />
       </mat-card-subtitle
      >
    </mat-card-header>
    
  </div>
<h2><a (click)="getSpacexes()" class="btn btn-lg btn-primary"  role="button">Click me</a></h2>
</table>