<h1>SpaceX Details</h1>
<!-- <hr>
<table id="spacexes" *ngFor="let missionDetails of results" >
    
        
        <mat-card-header>
            <img
            height="50"
            width="50"
            mat-card-avatar
            loading="lazy"
            [src]="missionDetails.links.mission_patch_small"
            alt="Mission patch of {{ missionDetails.mission_name }}"
            />
            <mat-card-title>{{ missionDetails.mission_name }} <br /></mat-card-title>
            <mat-card-subtitle
            >{{ missionDetails.launch_year }} <br />
            </mat-card-subtitle
            >
            <mat-card-subtitle
            >{{ missionDetails.details }} <br />
            </mat-card-subtitle
            >
            <mat-card-subtitle
            ><a>{{ missionDetails.links.mission_patch_small }}</a><br /><br />
            </mat-card-subtitle
            >
            <mat-card-subtitle
            ><a>{{ missionDetails.rocket.rocket_name }}</a><br /><br />
            </mat-card-subtitle
            >
            <mat-card-subtitle
            ><a>{{ missionDetails.rocket.rocket_type }}</a><br /><br />
            </mat-card-subtitle
            >
        </mat-card-header>
        
</table> -->